/* Colors */
/* Main background-color #ffffff */
/* 2nd background-color #F5F4FA*/
/* Dark background-color #2F303A */
/* Accent color #2196F3*/

/* Text colors */
/* Main color #757575 */
/* Second color #212121 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--accent-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.accent-header {
  color: var(--title-text-color);
}

.accent-footer {
  color: var(--primary-white-color);
  /* фон временно для контраста */
  background-color: var(--dark-background-color);
}
/* Site nav */

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.contacts-footer .link {
  color: var(--footer-text-color);
  /* фон временно для контраста */
  background-color: var(--dark-background-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.contacts-footer .address-link {
  color: var(--primary-white-color);
}

.list {
  list-style: none;
}

/* Hero */

.hero-title {
  color: var(--primary-white-color);
  /* фон временно для контраста */
  background-color: var(--dark-background-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* Features */

.features-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Team */

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
}

.team-list .job-title {
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
}

/* Portfolio page*/

.filter-btn {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.project-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  font-size: 16px;
  line-height: 1.87;
}

.project-list .link {
  color: var(--primary-text-color);
  text-decoration: none;
}
